{% extends 'layouts/base.html' %} {% block titulo %} ListEnlaces {% endblock %} {% block contenido %}

<h1>Acortador de enlaces</h1>
<a href="{{ url_for('crear_enlaces') }}">Crear más enlaces</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>enlaces</th>
            <th>cortos</th>
           
        </tr>
    </thead>
    <tbody>
        {% for enlaces in enlaces %}
        <tr>
            <td>{{ enlaces[0] }}</td>
            <td>{{ enlaces[1] }}</td>
            <td>{{ enlaces[2] }}</td>
            
        </tr>
        {%endfor%}
    </tbody>
</table>

<div>
    <h2>***</h2>
    <h1>***</h1>
    <h1>###</h1>
</div>
{% endblock %}